{
	"presets": [
		"@babel/react", ["@babel/preset-env", {
			"modules": false
    }],
    ["@babel/stage-0", {"decoratorsLegacy": true}]
  ],
  "plugins": [
    ["babel-plugin-transform-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}